
/*==========CLEARFIX===================*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

@media only screen and (min-width: 1200px) {
	#switcher { display: block; }
	#iframe {
		padding-top: 60px;
		height: 93%;
	}
}
html, body { height: 100%; }
body {
	margin: 0;			 		
}
#switcher {
	height: 59px;
	padding: 0;
	background: #1a1a1a;
	border-bottom: 1px solid #353535;
	z-index: 99999;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
.center {
	margin: auto;
	width: 98%;
	padding: 11px 0;
}
.responsive {
	float: left;
	margin-left: 14px;
	padding: 7px 0;
	margin-top: 3px;
}
.responsive a {
	opacity: 0.5;
	float: left;
	margin: 0 6px;
}

.responsive a.active, .responsive a:hover {
	opacity: 1;
	color: #fff;
}

.responsive a.desktop {
	background: url('_assets/images/devices.png') no-repeat 0 0;
	width: 20px;
	height: 19px;
}
.responsive a.tabletlandscape {
	background: url('_assets/images/devices.png') no-repeat -30px -3px;
	width: 17px;
	height: 14px;
	margin-top: 2px;
}
.responsive a.tabletportrait {
	background: url('_assets/images/devices.png') no-repeat -59px -1px;
	width: 14px;
	height: 17px;
	margin-top: 1px;
}
.responsive a.mobilelandscape {
	background: url('_assets/images/devices.png') no-repeat -87px -4px;
	width: 14px;
	height: 11px;
	margin-top: 5px;
}
.responsive a.mobileportrait {
	background: url('_assets/images/devices.png') no-repeat -117px -3px;
	width: 11px;
	height: 14px;
	margin-top: 3px;
}

#iframe.desktop-reso { width: 100%!important; }
#iframe.tabletlandscape-reso { width: 1040px!important; }
#iframe.tabletportrait-reso { width: 788px!important; }
#iframe.mobilelandscape-reso { width: 500px!important; }
#iframe.mobileportrait-reso { width: 340px!important; }
#switcher{ display: none;}
#iframe {
	margin: 0 auto; 
	display: block; 
	padding-top: 0px; 
	height: 100%;
	width: 100%;
}
@media only screen and (min-width: 768px) {
	#switcher{ display: block;}
	#iframe {
		margin: 0 auto;
		display: block;
		/*padding-top: 60px;*/
		height: 100%;
		border: none;
	}
}

/* ---------- IE 8 ----------------*/
.no-inlinesvg body { height: 92%; }
.no-inlinesvg #iframe {
	height: 100%;
	margin-top: 60px;
}
ul.dd {
	text-align: left;
	display: inline;
	margin: 0 100px;
	padding: 3px 0;
	float: right;
	list-style: none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul.dd li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	position: relative;
	padding: 7px 20px;
	background: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
ul.dd li:hover {
	background: #555;
	color: #fff;
}
ul.dd li ul {
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
ul.dd li ul li {
	background: #555;
	display: block;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}
ul.dd li ul li:hover { background: #666; }
ul.dd li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
ul.dd li a { display: block; }
ul.dd li a,ul.dd li a:hover{
	color: inherit;
	text-decoration: none;
}
.center .cls:hover {
	cursor: pointer;
	background-color: #883535;
}
.center .cls {
	color: #fff;
	border-radius: 5px;
	background-color: #c04547;
	width: 48px;
	height: 38px;
	text-align: center;
	background-image: url("_assets/images/close.png");
	background-position: center;
	background-repeat: no-repeat;
}
.buy-theme,
.center .cls {
	float: right;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.buy-theme {
	background-color: #82B440;
	color: #fff;
	border-radius: 5px;
	padding: 10px 30px;
	margin-right: 50px;
	font-size: 14px;
}
.buy-theme:hover { background-color: #7AA93C; }


/*======== NEW HEAD ==========*/
.changer-section .buy-theme { display: none; }
.center-logo {
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -15px;
}
.center-logo h1 {
	text-indent: -99999px;
	height: 29px;
	width: 195px;
	background-image: url("_assets/images/logo1.png");
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	margin: 0;
}
.changer-section,
.purchase-section {
	width: 50%;
	float: left;
}
ul.dd {
	width: 240px;
	margin: 0;
	margin-right: 50px;
	padding: 0;
}
ul.dd > li {
	width: 70%;
	position: relative;
	line-height: 25px;
	border-radius: 5px;
	background-color: #454545;
	color: #a1a1a1;
}
ul.dd > li:hover {
	background-color: #fff;
	color: #a1a1a1;
}
ul.dd > li:after {
	background-image: url("_assets/images/select-dwn-arrow.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 45px;
	height: 39px;
	content: "";
	position: absolute;
	top: 0;
	right: -50px;
	background-color: #454545;
	border-radius: 5px;
}
ul.dd li:hover:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
ul.dd li:hover ul {
	width: 127%;
	border-radius: 5px;
	/*overflow: hidden;*/
	top: 102%;
}
ul.dd.theme-changer {
	float: left;
	margin-left: 120px;
}
ul.dd > li ul li {
	padding: 8px 15px;
	background-color: #fff;
	color: #676767;
	text-shadow: none;
	border-bottom: 1px solid #d2d5de;
}
ul.dd.layout-changer li ul li:hover {
	background-color: #fff;
	color: #ff5351;
}
ul.dd.theme-changer > li ul li a > img {
	width: 20%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
ul.dd.theme-changer > li ul li a > span { width: 80%; }
ul.dd.theme-changer li ul li:hover {
	background-color: #303030;
	border-bottom: 1px solid #303030;
}
ul.dd.theme-changer li ul li:hover a { color: #fff; }
ul.dd.theme-changer > li ul li { position: relative; }
ul.dd.theme-changer > li ul li > img {
	position: absolute;
	top: 0;
	/*right: -472px;*/
	left: 100%;
	display: none;
}
ul.dd.theme-changer > li ul li:hover > img { display: block; }
ul.dd > li ul li:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
ul.dd > li ul li:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
	ul.dd { width: 220px; }
	.buy-theme, ul.dd { margin-right: 25px; }
	ul.dd.theme-changer { margin-left: 40px; }
	}/*========== (min-width: 1600px) =============*/

	@media only screen and (max-width: 1199px) and (min-width: 992px) {
		ul.dd.theme-changer {
			margin-left: 20px;
			margin-right: 0;
		}
		ul.dd.layout-changer, .buy-theme { margin-right: 15px; }
		.center-logo h1 { width: 30px; }
		.center-logo { margin-left: -15px; }
		ul.dd { width: 220px; }
		}/*========== (max-width: 1199px) and (min-width: 992px) =============*/

		@media only screen and (max-width: 991px) {
			.responsive { display: none; }
			ul.dd.theme-changer { margin-left: 0; }
			.center-logo h1 { width: 30px; }
			.center-logo { margin-left: -15px; }
			.buy-theme, ul.dd { margin-right: 20px; }
			.purchase-section .buy-theme { display: none; }
			.changer-section .buy-theme {
				float: left;
				display: block;
			}
			ul.dd { width: 210px; }
			.buy-theme { padding: 10px 15px; }
			}/*============ (max-width: 991px) ================*/
			
			@media only screen and (max-width: 767px) {
				#iframe { width: 99%; }
				}/*============ (max-width: 767px) ================*/
				/*======== NEW HEAD ==========*/
