.nav-list li a {
	text-decoration: none;
	display: block;
	padding: 0px;
	cursor: pointer;
	color: #9d9d9d;
}

.nav-list > li > a {
	color: #C4C4C4;
	font-size: 14px;
}

.nav-list > li > a:hover {
}
.nav-list li a.active
{
	color: #fcff46;
}

.header-menu ul li {
    display: inline-block;
    padding: 0 15px;
}
.header-menu{text-align:right;}
.top-header-menu ul li a {
    color: #4f4f4f;
}

.top-header .col-sm-12 {
    padding: 10px 0;
        border-bottom:1px solid rgba(183,183,183,0.51) !important;
}
.main-header-menu li a{
font-size:17px;
color: #0f0f0f;
padding-bottom:20px;
}
 .main-header-menu  li{
    padding-bottom: 26px;
    }
 .sec-header .col-sm-12{
      padding-top: 16px;
      padding-bottom: 16px;
      box-shadow: -2.474px 10.718px 24px rgba(178,186,198,0.23)!important;
     }
.container{
width:100%;
padding-left:0;
padding-right: 0;
}
.footer-content .col-sm-12,.main-content,.main-header .col-sm-12 {
    padding-left: 10%;
    padding-right: 10%;
}
.col-lg-12.col-md-12.col-sm-12.col-xs-12{
padding-left:0;
padding-right:0;
}
.page-header{
    background-color:#ebe8e3;
    margin:0;
    padding:40px 0 40px;
    text-align: center;
    }
.cat-title,.banner-title {
    font-size: 35px;
    letter-spacing: -1px;
    color: #2d2d35;
    font-family: "Archivo Black";
    font-weight: 400;
    padding-bottom:5px;
}

.banner-desc {
    font-size: 60px;
    letter-spacing: -3px;
    line-height: 63px;
    color: #2d2d35;
    font-family: "Archivo Black";
    font-weight: 400;
}

.banner-desc span{
    color:#d83060;
    }
#column_left li a {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 58px;
    color: #46484c;
    font-family: "Poppins";
    font-weight: 400;
}

.sidebar-menu-heading {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 58px;
    color: #000000;
    font-family: "Poppins";
    font-weight: 500;
    border-bottom: 1px solid #000;
}

.main-content {
    padding-top: 70px;
}

.top-bar {
    padding: 5px 0;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left:5px;
}
.top-bar span{
width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ccc;
  display: inline-block;
  margin: 0 3px;
    }
.demo-title {
    font-size: 20px!important;
    line-height: 20px!important;
    color: #151618!important;
    font-family: "Poppins"!important;
    font-weight: 600!important;
    text-align: center!important;
    margin-top: 35px!important;
}

.demo-desc {
    font-size: 14px;
    line-height: 19px;
    color: #5c5f63;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
}

.content-listing img:hover {
    box-shadow: 7px 32px 42px 18px rgba(0, 0, 0, 0.32156862745);
}

.content-listing img {
    border-radius: 0 0 20px 20px;
}

.active {
    color: #d83060;
}
.talk-to-us-title {
    font-family: "Archivo Black";
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    letter-spacing: -1px;
    line-height: 48px;
    font-size: 36px;
}
.talk-to-us {
    background-color: #cf2f3e;
        padding: 48px 0;
}
.talk-to-us-button-wrapper {
    text-align: right;
    
}
a.talk-to-us-button {
    font-family: Noto Sans;
    font-weight: 700;
    font-style: normal;
    color: #cf2e41;
    border-radius: 0px;
    padding: 15px 45px;
    background: #ffffff;
    letter-spacing: 1px;
    line-height: 13px;
        display: inline-block;
}
a.talk-to-us-button:hover{
    background: #9c1616;
    color: #ffffff;
}
.widget_text .col-sm-12, .footer-widget-list {
    list-style: none;
    padding-left: 0;
}
.footer-widget-list li a {
    font-size: 12px;
    line-height: 24px;
    color: #303030;
    font-family: "Noto Sans";
    font-weight: 400;
}
.widget-title {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-family: "Archivo Black";
    font-weight: 400;
}
.custom-social-widget ul li{
    display:inline-block;
        margin-left: 5px;
    }
    .custom-social-widget ul li a i{
    color: rgb(175, 175, 175);
    font-size: 14px;
        width: 34px;
    border: 1.6px solid #4d4f4c;
    border-radius: 50%;
    padding: 0 !important;
    box-sizing: border-box;
    text-align: center;
    height: 34px;
    }
     .custom-social-widget ul li a i:before{
         position:relative;
         top:9px;
         }
             .custom-social-widget ul li a i:hover:before{
    color: #dc2e2b;           
                 }
    .custom-social-widget ul li a i:hover{
            border: 1px solid #dc2e2b;
        }
 .widgets {
    padding-bottom: 50px;
padding-top: 50px;
}
.footer-bottom-title {
    font-size: 18px;
    color: #000000;
    font-family: "Archivo Black";
    font-weight: 400;
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
    padding-top: 42px;

}

.footer-bottom-title span {
    display: inline-block;
}

.footer-bottom .col-sm-4 {
    width: 25.333333%;
    margin-right: 8%;
    padding-left:0;
    margin-bottom: 20px;

}

.ftr3-hd {
    display: inline-block;
    width: auto;
    padding-right: 30px;
    vertical-align: top;
    font-size: 13px;
line-height: 21px;
color: #000000;
font-family: "Noto Sans";
font-weight: 700;
}

.ftr3-txt {
    display: inline-block;
    width: auto;
    font-size: 12px ;
    letter-spacing: 0px ;
    line-height: 20px ;
    color: #303030 ;
    font-family: "Noto Sans" ;
    font-weight: 400 ;
    vertical-align: top;
}
.footer-copyright{
    text-align: center;
    border-top-width: 0px !important;
    padding-top: 30px !important;
    padding-bottom: 25px !important;
    background-color: #080809 !important;
    border-top-color: #e8e8e8 !important;
    border-top-style: solid !important;}
}
.copyright-text {
    font-family: Noto Sans;
    font-weight: 400;
    font-style: normal;
    color: #5b5b60;
}

                 